@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" );

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC',sans-serif;
}

.wrap{
  margin: 100px;
}
.container{
  width: 1200px;
  margin: auto;
  /* text-align: center; */
}
.container h1{
  width: 100%;
  box-sizing: border-box;
  font-size: 60px;
  margin-bottom: .5em;
  text-align: center;
  /* display: flex; */
}
/* .container h1::before,
.container h1::after{
  content: '';
  display: block;
  height: 5px;
  flex-grow: 1;
  background-color: #aaa;
  margin: auto;
}
.container h1::before{
  margin-right: .5em;
}
.container h1::after{
  margin-left: .5em;
} */

.container .txt{
  box-sizing: border-box;
  position: relative;
  padding: 1em;
}

.container .txt p{
  margin-bottom: 1.5em;
}

.container .txt::before,
.container .txt::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
}
.container .txt::before{
  left: 0;
  top: 0;
  border-top: 3px solid #aaa;
  border-left: 3px solid #aaa;
}
.container .txt::after{
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #aaa;
  border-right: 3px solid #aaa;
}